html {
    background-color: #fefefe;
}
.App {
    width: 100%;
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 100px;
        display: flex;
        .leftContainer {
            @include desktop {
              width: 75%;
              padding: 20px;
              padding-right: 40px;
            }
            .checkBoxContainer {
                margin-top: 40px;
                .hidden {
                    display: none;
                }
            }
            .countryBlock {
                display: flex;
                flex-flow: row;
                flex-wrap: wrap;
                margin: 20px -10px;
                .countryContainer {
                    width: 100%;
                    @include tablet {
                        width: calc(50% - 20px);
                    }
                    @include desktop {
                        width: calc(33% - 20px);
                    }
                    background-color: white;
                    margin: 10px;
                    padding-top: 20px;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transition: all .3s;
                    &::before {
                        content: '';
                        padding: 33% 0; /* vertical value as  100% equals width */
                        display: inline-block;
                    }
                    &:hover {
                        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
                        .countryName {
                            color: $black;
                        }
                    }
                    &.checked {
                        background-color: $gray-2;
                        .countryName {
                            color: $black;
                        }
                        .checked {
                            display: block;
                        }
                    }
                    .countryName {
                        text-align: center;
                        color: $gray-1;
                        width: 100%;
                        text-transform: uppercase;
                    }
                    .svgContainer {
                      width: 70%;
                      height: auto;
                    }
                    svg {

                    }
                    .checked {
                        position: absolute;
                        width: 20px;
                        display: none;
                        right: 10px;
                        top: 10px;
                    }
                }
            }
        }
        .optionsBlock {
            padding: 20px 0;
            position: relative;
            @include desktop {
              width: 25%;
              margin-top: 50px;
              padding: 20px;
            }
            .fixedContainer {
              position: fixed;
              margin-right: 20px;
              // top: 140px;
            }
            .selectContainer {
                display: flex;
                vertical-align: center;
                align-items: center;
                margin: 20px 0;
                .selectItem {
                    width: 120px;
                }
                label {
                    margin-left: 10px;
                }
            }
        }
    }
    footer {
        font-size: .9rem;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        color: $black;
    }
}
